<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/fontawesome-5.9.0/css/all.min.css">
    </head>
    <body>
    {# Only user can see all of this #}
        {% if app.user %}
        <header>
          <div class="head d-flex flex-wrap">
          <p>ESPACE<strong>NUMERIQUE</strong></p>
            <div class="head2">
          <img src="/img/logo.png" width="50%" alt="Logo de Ardenne Metropole">
          </div>
          </div>
          <div class="barre animated slideInDown">
            <hr>
            <nav class="navbar d-flex justify-content-around navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="{{ path('home') }}">Consonne</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="{{ path('account') }}">Mon compte</a>
                  <a class="nav-item nav-link" href="{{ path('reservation') }}">Mes réservations</a>
                  <a class="nav-item nav-link" href="{{ path('logout') }}">
                    <i class="fas fa-sign-out-alt">Déconnecter {{ app.user.pseudo}}</i>
                  </a>
                </div>
              </div>
            </nav>
            <hr>
          </div>
        </header>
        {# Only admin can see this #}
        {% if app.user.isAdmin %}
        <div class="row corps d-flex justify-content-center">{#this div is closed in
        the other page, there is no error here#}
          <div class="navadmin animated fadeInLeft">
            <nav class="d-flex flex-column justify-content-between">
              <h3>Administration</h3>
              <ul>
                <li><a href="{{ path('user_account') }}">Adhérents</a></li>
                <li><a href="{{ path('admin_account') }}">Administrateurs</a></li>
                <li><a href="{{ path('breves') }}">Brèves</a></li>
                <li><a href="{{ path('materiel') }}">Matériel</a></li>
                <li><a href="{{ path('games') }}">Liste des jeux</a></li>
                <li><a href="{{ path('allresa') }}">Liste des réservations</a></li>
                <li><a href="{{ path('configuration')}}">Configuration</a></li>
                <li><a href="{{ path('stats') }}">Statistiques</a></li>
              <ul>
            </nav>
          </div>
      {% endif %}
      {% endif %}
        {% block body %}{% endblock %}
        {% if app.user %}
        <footer class="d-flex flex-column text-dark animated fadeInUp">
          <div class="col-12">
            <hr>
            <div class="d-flex flex-row row-wrap align-items-center justify-content-around">
              <img src="/img/voyelles.jpg" alt="Logo de la médiathèque">
              <div class="text-center align-items-center align-self-center">
                <center>@Consonne Open Source Project - 2019</center>
              </div>
            </div>
          </div>
        </footer>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
