{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block title %}{% if editMode %}
Edition de compte
{% else %}
  Création de compte
{% endif %}{% endblock %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <div class="contenu">
      <div class="titre">
      {% if editMode %}
      <h1>Modification du compte</h1>
      {% else %}
      <h1>Création de compte</h1>
      {% endif %}

      </div>
  <div class="col-m-10 col-xs-12 d-flex justify-content-center perso">


  {{ form_start(formUser) }}
  <div class="d-flex flex-column justify-content-center">
  {{ form_row(formUser.name, {'label':'Nom', 'attr':{'placeholder':"Nom"}}) }}
  {{ form_row(formUser.firstname, {'label':'Prénom', 'attr':{'placeholder':"Prenom"}}) }}
  {{ form_row(formUser.birthDate, {'label': 'Date de naissance'}) }}
  {{ form_row(formUser.pseudo, {'label':'Pseudo', 'attr':{'placeholder':"Pseudo"}}) }}
  {{ form_row(formUser.cardNum, {'label':'Carte', 'attr':{'placeholder':"Numéro de carte"}}) }}
  {{ form_row(formUser.statut, {'label':'Statut d\'utilisateur'}) }}
  {{ form_row(formUser.endSubAt, {'label': 'Date de fin d\'abonnement'}) }}
  {{ form_row(formUser.gameTime, {'label': 'Temps de jeu journalier autorisé'}) }}
  {{ form_row(formUser.password, {'label':'Mot de passe', 'attr':{'placeholder':"Votre mot de passe"}}) }}
  {{ form_row(formUser.confirm_password, {'label':'Confirmez votre mot de passe', 'attr':{'placeholder':"Mot de passe"}}) }}
  {{ form_row(formUser.isAdmin, {'label': 'Cocher si compte administrateur', 'attr':{'class':"flex-column"}}) }}

  <button type="submit" class="btn btn-success" name="button">
  {% if editMode %}
  Enregistrer les modifications
  {% else %}
  Créer l'utilisateur
  {% endif %}
  </button>
  </div>
  {{ form_end(formUser) }}

  </div>
  </div>
{% endblock %}
