{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/main.css')}}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
              <div class="accueil d-flex col-xs-12 col-m-9 justify-content-center">
                <div class="titre">
                  <h1>Accueil</h1>
                <h2>Bienvenue {{ app.user.pseudo }}</h2>
                {% if app.user.isAdmin %}
                  <p>
                    <a href="{{ path('create_user') }}">Créer un nouveau compte</a><br>
                    <a href="{{ path('create_materiel') }}">Ajouter un nouveau matériel</a><br>
                    <a href="{{ path('create_game') }}">Ajouter un nouveau jeu</a>
                  </p>
                  {% endif %}
                </div>
                {% if app.user.isAdmin %}
                <div class="perso">
                  <table><br>
                    <caption>Les prochains départs</caption>
                    <tr>
                      <td>Nom</td>
                      <td>Prenom</td>
                      <td>Carte</td>
                      <td>Début de la réservation</td>
                      <td>Durée utilisée</td>
                      <td>Temps maximum</td>
                    </tr>
                    {% for reservation in resas %}
                    {% if "now"|date('Y-m-d') == reservation.createdAt|date('Y-m-d') and 'now'|date('H:i') >= reservation.startAt|date('H:i') %}
                    <tr>
                      <td>{{ reservation.user.name }}</td>
                      <td>{{ reservation.user.firstname }}</td>
                      <td>{{ reservation.user.cardNum}}</td>
                      <td>{{ reservation.startAt | date('H:i') }}</td>
                      <td>{{ reservation.duree | date('H:i') }}</td>
                      <td>{{ reservation.user.gameTime | date('H:i') }}</td>
                    </tr>
                  {% endif %}
                  {% endfor %}
                  </table>
                </div>
                {% endif %}

                {% if app.user.isAdmin == false %}
                <div class="ingame_time">
                  <table>
                    <caption>Mes réservations du jours</caption>
                    <tr>
                      <td>Heure de réservation</td>
                      <td>Temps utilisé</td>
                      <td>Matériel</td>
                      <td>Jeu</td>
                    </tr>
                    {% for reservation in resa %}
                    {% if "now"|date('Y-m-d') == reservation.createdAt|date('Y-m-d') %}
                    <tr>
                      <td>{{ reservation.startAt | date('H:i') }}</td>
                      <td>{{ reservation.duree | date('H:i') }}</td>
                      <td>{{ reservation.materiel }}</td>
                      <td>{{ reservation.game }}</td>
                    </tr>
                  {% endif %}

                  {% endfor %}
                  </table>
                </div>
                {% endif %}

                <section id="breve_accueil">
                  <div class="titre" id="sous-titre">
                    <h3>Brèves</h3>
                  </div>
                  <div class="breve">

                    <h4>{{ breve.title }}</h4>
                    <p>{{ breve.content }}</p>

                  </div>
                </section>
                </div>
                </div>
{% endblock %}
