{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block title %}
Réservations
{% endblock %}

{% if app.user.isAdmin %}
{% form_theme formResa 'bootstrap_4_layout.html.twig' %}
{% endif %}

{% block body %}
  <div class="contenu col-xs-12 col-m-10">
    <div class="titre">
    {% if app.user.isAdmin == false %}
      <h1>Liste des réservations</h1>
    {% elseif app.user.isAdmin %}
      <h1>Ajout de réservations</h1>
    {% endif %}
    </div>
    <div class="perso d-flex flex-column">
    {% if app.user.isAdmin == false %}
      <table>
        <caption>Mes dernières réservations</caption>
        <tr>
          <td>Date de réservation</td>
          <td>Heure de début</td>
          <td>Temps de réservation</td>
          <td>Temps maximum</td>
          <td>Matériel réservé</td>
          <td>Jeu réservé</td>
        </tr>
        {% for resa in resas %}
        <tr>
          <td>{{ resa.createdAt | date('d/m/Y') }}</td>
          <td>{{ resa.startAt | date('H:i') }}</td>
          <td>{{ resa.duree | date('H:i') }}</td>
          <td>{{ resa.user.gameTime | date('H:i') }}</td>
          <td>{{ resa.materiel }}</td>
          <td>{{ resa.game }}</td>
        </tr>
      {% endfor %}
      </table>
      </div>
    </div>
    {% elseif app.user.isAdmin %}
    {{ form_start(formResa) }}
    <div class="d-flex flex-column justify-content-center">
      {{ form_row(formResa.user) }}
      {{ form_row(formResa.duree) }}
      {{ form_row(formResa.materiel) }}
      {{ form_row(formResa.game) }}
      <button type="submit" class="btn btn-success" name="button">
      Enregistrer la réservation
      </button>
    </div>
    {{ form_end(formResa) }}
    <div class ="d-flex justify-content-center mt-2">
    <table>
      <caption>Les réservations du jour</caption>
      <tr>
        <td>Auteur de la réservation</td>
        <td>Heure de début</td>
        <td>Temps de réservation</td>
        <td>Matériel réservé</td>
        <td>Jeu réservé</td>
        <td>Modification de la durée</td>
      </tr>
      {% for resa in resas  %}
      {% if "now"|date('Y-m-d') == resa.createdAt|date('Y-m-d') and 'now'|date('H:i') >= resa.startAt|date('H:i') %}
      {# ne marche pas:  and 'now'|date('H:i') <= resa.startAt|date_modify("+" ~resa.duree|date('H:i'))|date('H:i') #}
      <tr>
        <td>{{ resa.user.pseudo }}</td>
        <td>{{ resa.startAt | date('H:i') }}</td>
        <td>{{ resa.duree | date('H:i') }}</td>
        <td>{{ resa.materiel }}</td>
        <td>{{ resa.game }}</td>
        <td><a href="{{ path('edit_resa', {'id': resa.id}) }}"><i class="fas fa-cogs"></i></a></td>
      </tr>

    {% endif %}
    {% endfor %}
    </table>
    </div>
    </div>
  </div>
    {% endif %}
{% endblock %}
