{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/Chart.min.css">
{% endblock %}

{% block title %}
Statistiques
{% endblock %}

{% block body %}
<div class="contenu col-10">
  <div class="titre">
   <h1>Statistiques</h1>
  </div>
  <div class="row d-flex flex-row row-wrap justify-content-around">
  <div class="graf col-5 d-flex flex-column">
    <h2 class="text-center">Statistique</h2>
    <div class="pegi3" data-pegi3="{{ pegi3 | length }}"></div>
    <div class="pegi7" data-pegi7="{{ pegi7 | length }}"></div>
    <div class="pegi9" data-pegi9="{{ pegi9 | length }}"></div>
    <div class="pegi12" data-pegi12="{{ pegi12 | length }}"></div>
    <div class="pegi16" data-pegi16="{{ pegi16 | length }}"></div>
    <div class="pegi18" data-pegi18="{{ pegi18 | length }}"></div>
    <canvas id="myChart" max-width="200" height="200"></canvas>
  </div>
  <div class="graf col-5 d-flex flex-column">
    <h2 class="text-center">Statistique 2</h2>
    <canvas id="canvas" max-width="200" height="200"></canvas>
  </div>
  </div>

</div>
</div>
{% endblock %}

{% block javascripts %}
<script src="/js/Chart.min.js"></script>
<script src="/js/stats.js"></script>
{% endblock %}
