{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/Chart.min.css">
{% endblock %}

{% block title %}
Statistiques
{% endblock %}

{% block body %}
<div class="contenu col-10">
  <div class="titre">
   <h1>Statistiques</h1>
  </div>
  <div class="mes_graf row d-flex flex-row row-wrap justify-content-around">
  <div class="graf col-12 d-flex flex-column">
    <h2 class="text-center">Utilisateurs par tranche d'âge</h2>
    <div class="pegi3" data-pegi3="{{ pegi3 | length }}"></div>
    <div class="pegi7" data-pegi7="{{ pegi7 | length }}"></div>
    <div class="pegi9" data-pegi9="{{ pegi9 | length }}"></div>
    <div class="pegi12" data-pegi12="{{ pegi12 | length }}"></div>
    <div class="pegi16" data-pegi16="{{ pegi16 | length }}"></div>
    <div class="pegi18" data-pegi18="{{ pegi18 | length }}"></div>
    <canvas id="myChart"></canvas>
  </div>

  <div class="graf col-12 d-flex flex-column">
    <h2 class="text-center">Réservations par jour</h2>
    <canvas id="canvas" ></canvas>
  </div>
  </div>


</div>
</div>

{% endblock %}

{% block javascripts %}
<script src="/js/Chart.min.js"></script>
<script src="/js/stats.js"></script>
<script type="text/javascript">
var ctx = document.getElementById("canvas").getContext('2d');
        var Chart = new Chart(ctx, {
          type: 'line',
          data: {
              labels:[{% for stat in stats %}'{{ stat.date | date('d/m') }}',{% endfor %}],
              datasets:[{
                  label: 'Nombre de réservations',
                  data: [{% for sta in stats %}{{sta.resNumber}},{% endfor %}],
                  backgroundColor: 'transparent',
                  borderColor: "#3cba9f",
                },
              ]},
          options: {
            title: {
              display: true,
              text: 'Evolution des réservations en fonction de la date'
          },
          elements: {
            line: {
                tension: 0 // désactive la courbe et rend l'affichage linéaire
            }
        },
        animation: {
            duration: 0 // désactive l'animation d'apparition pour vitesse d'affichage
        },
        hover: {
            animationDuration: 0 // retire animation du hover
        },
        responsiveAnimationDuration: 0 // retire animation de remise en taille normale
        }
        });
</script>
{% endblock %}
